<div class="flex flex-col gap-3 justify-center items-center">
  <h1 class="py-10">Welcome to Planning Poker</h1>

  @if (action === null) {
    <button class="action-button" (click)="setAction(Action.Join)">
      Join Room
    </button>

    <div>or</div>

    <button class="action-button" (click)="setAction(Action.Create)">
      Create Room
    </button>
  } @else {
    <button (click)="setAction(null)" >
      <fa-icon [icon]="faBackward" class="hover:cursor-pointer"></fa-icon>
    </button>
  }

  @if (action !== null) {
    <input
      class="input-box"
      placeholder="Your Name"
      #name
      (input)="this.setName(name.value)"
    />
  }

  @if (action === Action.Join) {
    <input
      class="input-box"
      placeholder="Room ID"
      #roomId
      (input)="this.setRoomId(roomId.value)"
    />
    <button class="action-button" (click)="buildReq()">
      Join
    </button>
  }

  @if (action === Action.Create) {
    <button class="action-button" (click)="buildReq()">
      Create Room
    </button>
  }
</div>